.card-body #error-title{
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-weight:normal;
}

.card-body #error-text{
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-weight:normal;
}

.card{
    justify-content: center;
    display: flex;
    align-items: center;
    top:7.5rem ;
}

/* Background images */
.image-background .sun{
    position: absolute;
    left:0px;
    animation: rotation 6s infinite linear;
}

.image-background .cloud1{
    position: absolute;
    top:70px;
    left:900px;
    animation-duration: 27s;
    animation-name: slide;
    animation-iteration-count: infinite;
}

.image-background .cloud2{
    position: absolute;
    top:200px;
    left:250px;
    animation-duration: 22s;
    animation-name: slide;
    animation-iteration-count: infinite;
}

.image-background .cloud3{
    position: absolute;
    top:40px;
    left:0px;
    animation-duration: 15s;
    animation-name: slide;
    animation-iteration-count: infinite;
}

.image-background .cloud4{
    position: absolute;
    top:0px;
    left:60px;
    animation-duration: 15s;
    animation-name: slide;
    animation-iteration-count: infinite;
}

.image-background .cloud5{
    position: absolute;
    top:7px;
    left:5px;
    animation-duration: 26s;
    animation-name: slide;
    animation-iteration-count: infinite;
}

.image-background .cloud6{
    position: absolute;
    top:100px;
    left: 55px;
    animation-duration: 26s;
    animation-name: slideleft;
    animation-iteration-count: infinite;
}

.image-background .grass{
    position: absolute;
    bottom: 0px;
}

.image-background .capybara{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.image-background .capybara2{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.image-background .capybara3{
    position: absolute;
    bottom: 0px;
    left:50rem;
}


/* Animation */
@keyframes slide {
    from {
      margin-left: 0%;
      width: 100%;
    }
  
    to {
      margin-left: 100%;
      width: 300%;
    }
}

@keyframes slideleft {
    from {
      margin-left: 0%;
      width: 300%;
    }
  
    to {
      margin-left: -100%;
      width: 0%;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
