@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Assistant&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rubik&display=swap);


p{
    font-family: "Nanum Gothic";
    font-size: 1.7rem;
}

.card{
    justify-content: center;
    display: flex;
    align-items: center;
    top:7.5rem ;
}

.btn{
    position: relative;
    top:16rem;
}

.row{
    width: 57rem;
}

.arrival{
    font-family: "rubik";
}

.destiny{
    font-family: "rubik";
}

.cities{
    font-family: 'Courier New', Courier, monospace;
    
}


#capybara{
    width: 10rem;
}

#capybara-flying{
    position:static;
}

#card-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.9rem;
    text-align: center;
    padding-bottom: 3rem;
}

#card-title-ticket{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.8rem;
    text-align: center;
    padding-bottom: 3rem;
}

.icon-weather {
    /* background-color:rgb(0, 255, 128); */
    width: 17rem;
    height: 7rem;
}

.second-row{
    padding-top: 2rem;
}
