@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Assistant&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rubik&display=swap);


.container p{
    font-family: "Nanum Gothic";
    font-size: 1.7rem;
}

.card{
    justify-content: center;
    display: flex;
    align-items: center;
    top:7.5rem ;
}

.info h5{
    font-size: 1.7rem;;
}

.card-body p{
    font-family: "Nanum Gothic";
    background-color: beige;
    font-size: 1.4rem;
}

.btn{
    position: relative;
    top:16rem;
}

.row{
    width: 57rem;
}

.arrival{
    font-family: "rubik";
}

.destiny{
    font-family: "rubik";
}

.cities{
    font-family: 'Courier New', Courier, monospace;
    
}

.cities .destiny{
    text-align: right;
}

.temp_p{
    padding-top: 4.5rem;
}

.icon-weather {
    width: 17rem;
    height: 7rem;
}

.second-row{
    padding-top: 2rem;
}

.primary-city-title{
    text-align: left;
    background-color: rgb(230, 150, 59);
}

.secondary-city-title{
    text-align: right;
    background-color: rgb(230, 150, 59);
    
}

.info{
    padding-top: 45px;
}

#capybara{
    width: 10rem;
}

#capybara-flying{
    position:static;
}

#card-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.9rem;
    text-align: center;
    padding-bottom: 3rem;
}

#card-title-ticket{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.8rem;
    text-align: center;
    padding-bottom: 3rem;
}
