
@import url(https://fonts.googleapis.com/css2?family=Sacramento&display=swap);

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.main {
    min-height: 450px;
}

h1{
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-weight:normal;
    padding-bottom: 10px;
    position: relative;
    top:100px;
}

.main h2{
    font-size: 45px;
    position: relative;
    top:100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.search .search-position{
    position: relative;
}

.Capy {
    color: #996130;
    font-size: 140px;
    margin: 50px auto 0 auto;
    font-family: "Sacramento";
    font-weight: bold;
}

.Weather{
    color: #66bfbf;
    font-size: 140px;
    margin: 50px auto 0 auto;
    font-family: "Sacramento";
    font-weight: bold;
}

/* NavBar */

.search #search{
    height: 60px;
}

/* Buttons */
.searching-buttons{
    position: relative;
    top: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

.searching-buttons .btn-city{
    background-color: #e6920b;
    position: relative;
    left:20rem;
}

.searching-buttons .btn-ticket{
    background-color: #e6920b;
    position: relative;
    left: 35rem;
}

/* Images */

.image-background .sun{
    position: absolute;
    left:0px;
    animation: rotation 6s infinite linear;
}

.image-background .cloud1{
    position: absolute;
    top:70px;
    left:900px;
    animation-duration: 29s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.image-background .cloud2{
    position: absolute;
    top:200px;
    left:250px;
    animation-duration: 16s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.image-background .cloud3{
    position: absolute;
    top:40px;
    left:0px;
    animation-duration: 22s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.image-background .cloud4{
    position: absolute;
    top:0px;
    left:60px;
    animation-duration: 14s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.image-background .cloud5{
    position: absolute;
    top:7px;
    left:5px;
    animation-duration: 19s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.image-background .cloud6{
    position: absolute;
    top:100px;
    left: 55px;
    animation-duration: 26s;
    animation-name: slideleft;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.image-background .grass{
    position: absolute;
    bottom: 0px;
}

.image-background .capybara{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.image-background .capybara2{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.image-background .capybara3{
    position: absolute;
    bottom: 0px;
}


/* Animation */
@keyframes slide {
    from {left:0;}
    to {left:86%;}
}

@keyframes slideleft {
    from {left:0;}
    to {left:86%;}
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}


