{% extends 'layout.html' %}

{% block title %}Welcome{% endblock %}

{% block body %}
<section class="main align-items-stretch">
  <div class="main-principal d-flex flex-column justify-content-center align-items-center ">
    <h1 style="font-size: 90px;">Welcome to 
    <span class="Capy">Capy</span>
    <span class="Weather">Weather</span>
    </h1>
    <h2 style="text-align: center;">Search for the weather by your ticket flight or by city</h2>
  </div>    
</section>
<section class="search">
  <div class="container search-position nav-bar-size">
      <form action="search_city" method="POST">
        <input class="form-control me-2" id="search" width="20px" type="text" name="location" placeholder="Search" aria-label="Search">
        <div class="searching-buttons">
          <button type="submit" class="btn btn-city btn-lg" >City</button>
          <button type="submit" class="btn btn-ticket btn-lg" >Ticket</button>
        </div>
      </form>
  </div>
</section>
{%endblock%}

