<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Welcome</title>
</head>
<body style="background-color: #dbf2f9;">
  <!-- Welcome page and what are you going to search -->
<!-- Background image -->
    <section class="image-background">
      <div class="sun">
        <img width="320px" src="../static/images/744-removebg-preview.png">
      </div>
      <div class="cloud1">
        <img width="250px" src="../static/images/cloud.png"\>
      </div>
      <div class="cloud2">
        <img width="270px" src="../static/images/cloud.png"\>
      </div>
      <div class="cloud3">
        <img width="300px" src="../static/images/cloud.png"\>
      </div>
      <div class="cloud4">
        <img width="250px" src="../static/images/cloud.png"\>
      </div>
      <div class="cloud5">
        <img width="310px" src="../static/images/cloud.png"\>
      </div>
      <div class="cloud6">
        <img width="310px" src="../static/images/cloud.png"\>
      </div>
      <div class="grass">
        <img width="2000px" height="500px" src="../static/images/lovepik-lawn-png-image_401317000_wh1200-removebg-preview.png"\>
      </div>
      <div class="capybara">
        <img width="300px" src="../static/images/photo_2023-09-16_16-23-28-removebg-preview.png">
      </div>
      <div class="capybara2">
        <img width="300px" src="../static/images/m_capylentes-removebg-preview.png">
      </div>
      <div class="capybara3">
        <img width="300px" src="../static/images/mandarina_capy-removebg-preview.png">
      </div>
    </section>
<!-- Welcoming Text -->
    <section class="main align-items-stretch">
      <div class="main-principal d-flex flex-column justify-content-center align-items-center ">
        <h1 style="font-size: 90px;">Welcome to 
        <span class="Capy">Capy</span>
        <span class="Weather">Weather</span>
        </h1>
        <h2 style="text-align: center;">Search for the weather by your ticket flight or by city</h2>
      </div>    
    </section>
<!-- Search NavBar -->
    <section class="search">
      <div class="container search-position nav-bar-size">
          <input class="form-control me-2" id="search" width="20px" type="text" name="location" placeholder="Search" aria-label="Search">
      </div>
    </section>
<!-- buttons -->
    <section class="searching-buttons">
      <div>
        <form action="/search_city" method="GET">
          <input type="submit"  class="btn btn-city btn-lg" name="search_city" value="City" />
        </form>
        <form action="/search_ticket" method="GET">
          <input type="submit"  class="btn btn-ticket btn-lg" name="search_ticket" value="Ticket"/>
        </form>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>